{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock head %}
{% block title %} <title>SignUp</title> {% endblock title%}

{% block content %}
    <div class="container">
        <img src="{% static 'imgs/guy.webp' %}" alt="login-img">
        <div class="left-side">
            <h2>Sport News</h2>
            <div class="form">
                <form action="" method="post">
                {% csrf_token %}
                {% if form.username.errors %}
                    <p>{{ form.username.errors }}</p>
                {% endif %}
                {{ form.username }}
                {% if form.password.errors %}
                    <p>{{ form.password.errors }}</p>
                {% endif %}
                {{ form.password }}
                <input class="send" type="submit" value="Send">
        </form>
        </div>

    </div>

{% endblock content %}