{% extends 'base.html' %}
{% load static %}


{% block title %}
    <title>Sportnews</title>
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/post_detail.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@latest/dist/font-face.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
    <nav class="nav">
        <div class="nav-left-side">
            <h2><span style="color: #1212dc">Sport</span> News</h2>
            <div class="search-bar">
                <i id="search-icon" class="fas fa-search"></i>
                <form action="" method="get">
                    <input placeholder="Search ..." name="search" maxlength="50" class="search-input">
                </form>
            </div>
        </div>
        <div class="nav-right-side">
            <p>Hello {{ user.username }}!</p>
        </div>
    </nav>
    <div class="container">
        <div class="left-side"></div>
        <div class="right-side">
            <h1 class="rh1">{{ post.title }}</h1>
            <p class="rbh1">{{ post.created_at }}</p>
            <div class="items">
                <div class="author">
                    <p>{{ post.author }}</p>
                    <div class="circle">
                        {% if post.author.image %}
                            <img src="{{ post.author.image.url }}" alt="">
                        {% else %}
                            <img src="{% static 'imgs/user.png' %}" alt="">
                        {% endif %}
                    </div>
                </div>
                <div class="post-info">
                    <div class="comments">
                        {% if is_like %}
                            <a href="{% url 'home:like' post.id %}"><img style="background-color: white" width="40px" height="40px" src="{% static 'imgs/like.png' %}" alt=""></a>
                        {% else %}
                            <a href="{% url 'home:like' post.id %}"><img style="background-color: white" width="40px" height="40px" src="{% static 'imgs/unlike.png' %}" alt=""></a>
                        {% endif %}
                    </div>
                    <div class="comments">
                        {% if is_saved %}
                            <a href="{% url 'home:saved' post.id %}"><img style="background-color: white" width="40px" height="40px" src="{% static 'imgs/saved.png' %}" alt=""></a>
                        {% else %}
                            <a href="{% url 'home:saved' post.id %}"><img style="background-color: white" width="40px" height="40px" src="{% static 'imgs/unsave.png' %}" alt=""></a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <img class="post-img" src="{{ post.image.url }}" alt="">
            <p dir="rtl" class="post-description">{{ post.caption }}</p>
            <div style="display: flex;flex-direction: row-reverse;width: 100%">
                <div style="width: 100%;margin-top: 1.5rem" class="post-info">
                    <div class="comments">
                        <i class="fas fa-comment"></i>
                        <p>{{ comment_count }}</p>
                    </div>
                    <div class="comments">
                        <i class="fas fa-heart"></i>
                        <p>{{ like_count }}</p>
                    </div>
                    <div class="comments">
                        <i class="fas fa-save"></i>
                        <p>{{ saved_count }}</p>
                    </div>
                </div>
            </div>
            <div class="comment-section">
                <h2 dir="rtl">کامنت ها</h2>

                <form action="{% url 'post:post_detail' post.id %}" method="post" id="commentForm">
                    {% csrf_token %}
                    {% if form.text.errors %}
                        <p>{{ form.text.errors }}</p>
                    {% endif %} 
                    <div class="form-group">
                        <textarea dir="rtl" style="margin-top: 1rem" id="comment" name="text" required></textarea>
                    </div>

                    <button type="submit" class="submit-btn">Submit Comment</button>
                </form>

                <div class="comment-output" id="commentOutput" style="display:none;">
                    <h3>Thank you for your comment!</h3>
                    <p><strong>Name:</strong> <span id="outputName"></span></p>
                    <p><strong>Email:</strong> <span id="outputEmail"></span></p>
                    <p><strong>Comment:</strong> <span id="outputComment"></span></p>
                </div>
            </div>
            <div class="comment-list">
                {% for comment in comments %}
                    <div class="comment-row">
                    <div class="circle">
                        {% if comment.user.image %}
                            <img src="{{ comment.user.image.url }}" alt="">
                        {% else %}
                            <img src="{% static 'imgs/user.png' %}" alt="">
                        {% endif %}
                    </div>
                    <h2>{{ comment.user.username }}</h2>
                    <br>
                    <p>{{ comment.text }}</p>
                    <p>{{ comment.date }}</p>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>

{% endblock %}