{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Dashboard</title>
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@latest/dist/font-face.css" rel="stylesheet" type="text/css" />

{% endblock %}

{% block content %}
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <nav class="nav">
        <div class="left-side">
            <h2><span style="color: #1212dc">Sport</span> News</h2>
            <div class="search-bar">
                <i id="search-icon" class="fas fa-search"></i>
                <form action="" method="get">
                    <input placeholder="Search ..." name="search" maxlength="50" class="search-input">
                </form>
            </div>
        </div>
        <div class="right-side">
            <p>Hello {{ user.username }}!</p>
        </div>
    </nav>
    <div class="container">
        <div class="menu-left-side">
            <div class="first-item">
                <div class="mhome">
                    <i class="fas fa-home"></i>
                    <p>Home</p>
                </div>
                <div class="mhome">
                    <i class="fas fa-folder"></i>
                    <p>Category</p>
                </div>
            </div>
            <span class="line"></span>
            <div class="first-item">
                <div class="mhome">
                    <i class="fas fa-user"></i>
                    <p>About</p>
                </div>
                <div class="mhome">
                    <i class="fas fa-mail-forward"></i>
                    <p>Contact</p>
                </div>
            </div>
            <span class="line"></span>
            <div class="first-item">
                <div class="mhome">
                    <i class="fas fa-book"></i>
                    <p>Documentation</p>
                </div>
                <div class="mhome">
                    <i class="fas fa-futbol"></i>
                    <p>Posts</p>
                </div>
                <div class="mhome">
                    <i class="fas fa-lock"></i>
                    <p>Privacy</p>
                </div>
                <div class="mhome">
                    <i class="fas fa-bookmark"></i>
                    <p>Saved</p>
                </div>
            </div>
            <span class="line"></span>
            <div class="first-item">
                <div class="mhome">
                    <i class="fas fa-heart"></i>
                    <p>Likes</p>
                </div>
            </div>
            <div class="menu-icons">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-youtube"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-telegram"></i>
                <i class="fab fa-facebook"></i>
            </div>
        </div>
        <div class="main-right-side">
            <div class="top">
                <div class="menu-right-tl-side">
                    <h3>Trending</h3>
                    <div class="mtpost">
                        <img src="{% static 'imgs/sport.jpg' %}" alt="">
                        <div class="mtpost-detail">
                            <h2>Visca Barcelona ❤️💙!</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, qui?</p>
                            <p>Blogger: {{ user.username }}</p>
                            <div class="mtl-line">
                                <p>Date</p>
                                <i class="fas fa-heart"><span> 42</span></i>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="menu-right-tr-side">
                <h3>Friends</h3>
                <div class="friends">
                    <div class="friend">
                        <img src="{{ user.image.url }}" alt="">
                    </div>
                    <div class="friend">
                        <img src="{{ user.image.url }}" alt="">
                    </div>
                    <div class="friend">
                        <img src="{{ user.image.url }}" alt="">
                    </div>
                </div>
            </div>
            </div>
            <div class="post-container">
                <div class="post-header">
                    <h3>Latest Posts</h3>
                    <div class="filters">
                        <i class="fas fa-eye"><span> View</span></i>
                        <i class="fa-solid fa-clock"><span> Time</span></i>
                    </div>
                </div>
                <div class="posts">
                    {% for post in posts %}
                        <div class="post">
                        <img src="{{ post.image.url }}" alt="">
                        <div class="hashtags">
                            <a href="#">#Sport</a>
                            <a href="#">#Soccer</a>
                        </div>
                        <h3><a href="{% url 'post:post_detail' post.id %}">{{ post.title }}</a></h3>
                        <div class="pl-line">
                            <p>{{ post.author }}</p>
                            <i class="fas fa-heart"><span> {{ post.likes.count }} </span></i>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <a style="color: #fff" href="#" class="more-posts">
                    More posts
                </a>
                <br>
            </div>
        </div>
    </div>
{% endblock %}